
  body{
    
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-image: url('../img/cadastro-img.jpg');
    background-size: cover ;
    background-position: center;
    
}

#formCadastroProfessor{

 text-align: center;
text-transform: uppercase;
padding: 5px 30px 30px 30px;
margin: 0%;
background:rgba(247, 155, 18, 0.363);
border-radius: 10px;

}
.container{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 display: grid;
 place-items: center;
 margin-top: 30px;
 color: #000000;
 border-radius: 10px;
 padding: 30px 40px;
}





